{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Post
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>
   <h2> {{ all_news|length }} </h2>
   <h3>{{ time_now|date:'M d Y' }}</h3>

   <form action="" method="get">
      {{ filterset.form.as_p }}
      <input type="submit" value="Найти" />
   </form>

   <hr>
   {% if all_news %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Превью</td>
           </tr>

           {% for new in all_news %}
           <tr>
               <td>{{ new.head }}</td>
               <td>{{ new.create_post|date:'d M Y' }}</td>
               <td>{{ new.text_post|truncatewords:20 }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}